extends layout

block style
  link(rel='stylesheet', href='/admin/css/book.css')

block sidebar
  nav.fl.col-2.ml-3
    div.sidebar-head 小说管理
    ul.list-group.list-group-flush
      li.list-group-item
        a.nav-link(href="/admin/book/1") 小说列表
      li.list-group-item
        a.nav-link(href="/admin/book/add") 添加小说
block content
  div.row.col-9.ml-3.fl
    table.table.table-striped.bg-white
      thead
        tr
          th(scope="col") ID
          th(scope="col") 名称
          th(scope="col") 作者
          th(scope="col") 分类
          th(scope="col") 状态
          th(scope="col") 操作
      tbody
        each item in data
          tr
            th(scope="row")= item.bookId
            td= item.name
            td= item.author
            td= bookCache.classification[item.cid]
            td= bookCache.state[item.state]
            td
              if item.resource
                a.btn.btn-primary.mr-1.btn-crawl(href="javascripts:;") 爬取
                a.btn.btn-primary.mr-1(href="/admin/book/rule/add/" + item.bookId) 修改爬取规则
              else
                a.btn.btn-primary.mr-1(href="/admin/book/rule/add/" + item.bookId) 添加爬取规则
              a.btn.btn-success.mr-1(href="/admin/book/content/" + item.bookId) 章节列表
              a.btn.btn-danger.mr-1.btn-del(href="javascripts:;") 删除
    nav.m-auto
      ul.pagination
        if pagination.length == 1 || pagination.page == 1
          li.page-item.disabled
            a.page-link(href="/admin/book/" + (pagination.page - 1), aria-label="Previous")
              span(aria-hidden="true") &laquo;
              span.sr-only Previous
        else
          li.page-item
            a.page-link(href="/admin/book/" + (pagination.page - 1), aria-label="Previous")
              span(aria-hidden="true") &laquo;
              span.sr-only Previous
        - for(var i = 1; i <= pagination.length; i++)
          if i == pagination.page
            li.page-item.active
              a.page-link(href="/admin/book/" + i)= i
          else
            li.page-item
              a.page-link(href="/admin/book/" + i)= i
        if pagination.length == 1 || pagination.page == pagination.length
          li.page-item.disabled
            a.page-link(href="/admin/book/" + (parseInt(pagination.page) + 1), aria-label="Next")
              span(aria-hidden="true") &raquo;
              span.sr-only Next
        else
          li.page-item
            a.page-link(href="/admin/book/" + (parseInt(pagination.page) + 1), aria-label="Next")
              span(aria-hidden="true") &raquo;
              span.sr-only Next
        
block script
  script(src="/admin/js/book.js")
